.user-logged-in .user-logged-in-item, .user-unauthorized .user-unauthorized-item {
    display: inline;
}

.user-logged-in .user-unauthorized-item, .user-unauthorized .user-logged-in-item {
    display: none;
}

.navbar-brand {
    margin: 0px 20px 0px 20px;
}

.right-side {
    margin-right: 20px;
}

.boldText {
    font-weight: bold!important;
}

.body {
    background-color: #F8F9FA;
}

a:hover {
    cursor: pointer;
}